[issue_field_config]
# <jira_internal_field_name>=<display_field_name>,<field_type>,<output_type>,<access_key>
# <jira_internal_field_name>=<display_field_name>,<single/multi>,<plain/plainarray/json/cascade>,<blank/json_key if applicable>
summary=Issue Summary,single,plain,
priority=Priority,single,json,name
# Components - Multi select, json type
components=Component/s,multi,json,name
# Labels - Multi value, plain Array
labels=Labels,multi,plain,
# xyz - Multi Select List
customfield_13=xyz,multi,json,value
# abc - Checkboxes, multi, json, value  
customfield_11=abc,multi,json,value
# lmn - Date, single, plain
customfield_23=lmn,single,plain,
# si - Cascade Field
customfield_40=Si,cascade,json,value

[jql_section]
jql=issuekey in (DUM-1,DUM-32)
